<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ShikshaSetu AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="container">

    <div class="left-panel">

        <h1>ShikshaSetu AI</h1>

        <p>
            Learn Smarter.<br>
            Build Faster.<br>
            Grow Stronger.
        </p>

    </div>

    <div class="right-panel">

        <form action="/login" method="POST">

            <h2>Welcome Back 👋</h2>

            <p class="subtitle">
                Login to continue your learning journey.
            </p>

            <div class="input-box">

                <label>Email Address</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required>

            </div>

            <div class="input-box">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required>

            </div>

            <button type="submit">
                Login
            </button>

            <div class="extra-links">

                <a href="#">
                    Forgot Password?
                </a>

            </div>

            <div class="signup">

                Don't have an account?

                <a href="#">
                   Register
                </a>

            </div>

        </form>

    </div>

</div>

</body>
</html>